@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string? searchtext = null;
    List<IndexModel.Record> records = new List<IndexModel.Record>();

    if (Request.QueryString.HasValue && Request.Query.ContainsKey("itemcontains")) {
        var connection = Model.InitialiseConnection();
        searchtext = Request.Query["itemcontains"][0];
        records = Model.GetRecords(connection, searchtext);
        Model.CloseConnection(connection);
    }
}

<div>
    <h3>Search props or textures by Pack, TGI, Author, or Exemplar Name</h3>
    <br />
    <form method="get">
        <input type="text" id="SearchBox" name="itemcontains" placeholder="Search for Pack | TGI | Author | Exemplar Name ..." value="@searchtext">
        <input type="Submit" value="Search" />
        <hr />
        @{
            if (searchtext is not null) {
                <p>Query "@searchtext" returned @(records.Count) results.</p>
            }
        }
    </form>

    <hr />
    <table id="ContentTable">
        <thead>
            <tr class="header">
                <th>Pack Name</th>
                <th>TGI</th>
                <th>Type</th>
                <th>Author</th>
                <th>Exemplar Name</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (IndexModel.Record item in records) {
                    <tr>
                        <td><a href="@item.Hyperlink">@item.PackName</a></td>
                        <td>@item.TGI</td>
                        <td>@item.TGIName</td>
                        <td>@item.Author</td>
                        <td>@item.ExemplarName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
