@page
@model ViewPackModel
@{
    ViewData["Title"] = "View Pack Contents";
    //string TGIName = null;
    //string TGIIID = null;
    if (Request.QueryString.HasValue) {
        Model.SelectedPackName = Request.Query["pack"][0];
        Model.SetPackInfo();
    }
}

<div>
    <h3>Choose a prop or texture pack to inspect</h3>
    <br />
    <div>
        <datalist id="packs">
            @{
                foreach (ViewPackModel.Record pack in Model.ListOfPacks) {
                    <option value="@pack.PackName"></option>
                }
            }
        </datalist>

        <form>
            <input type="text" id="PackSelection" name="pack" list="packs" value="@Model.SelectedPackName" placeholder="Choose pack" />
            <input type="Submit" value="View Pack" />
        </form>
    </div>

    <table id="InfoTable">
        <thead>
            <tr class="header">
                <th>Pack Name</th>
                <th>Pack Version</th>
                <th>Author</th>
                <th>Type</th>
                <th># Textures</th>
                <th># Props</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="@Model.SelectedPack.Hyperlink">@Model.SelectedPack.PackName</a></td>
                <td>@Model.SelectedPack.PackVersion</td>
                <td>@Model.SelectedPack.Author</td>
                <td>@Model.SelectedPack.Type</td>
                <td>@Model.TextureCount</td>
                <td>@Model.PropCount</td>
            </tr>
        </tbody>
    </table>

    <hr />
    <input id="BackgroundToggle" type="checkbox" onclick="ToggleDarkThumbnailBg()" />
    <label for="BackgroundToggle">Dark thumbnail background</label>
    <hr />
    <table id="TextureTable">
        @{
            if (Model.TextureCount > 0) {

                for (int row = 0; row < Model.TextureCount / 10; row++) {
                    <tr>
                        @{
                            for (int col = 0; col < 9; col++) {
                                //@(TGIName = Model.TGIRecords[row + col].TGI.Replace("0x", "").Replace(", ", "-"); )
                                //@(TGIIID = Model.TGIRecords[row + col].TGI.Substring(Model.TGIRecords[row + col].TGI.Length-8); )
                                //<td><img src="~/img/thumbnails/@(TGIName).png" height="96px" /><p>@(TGIIID)</p></td>
                                <td><img src="~/img/thumbnails/@(Model.TGIRecords[row + col].TGI.Replace("0x", "").Replace(", ", "-")).png" height="96px" /><p>@(Model.TGIRecords[row + col].TGI.Substring(Model.TGIRecords[row + col].TGI.Length - 8))</p></td>
                            }
                        }
                    </tr>
                }
            }

        }
        <tbody>
        </tbody>
    </table>

    <table id="PropTable">
    </table>
</div>